<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="3" android:versionName="3.0" package="net.petrjanousek.RemoteTelevizor" android:installLocation="auto">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="34" />
	<application android:label="RemoteTelevizor" android:icon="@drawable/Icon"></application>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
</manifest>